/* #Reset & Basics (Inspired by E. Meyers)
================================================== */

*, *:before, *:after {
    -moz-box-sizing: border-box;
	-webkit-box-sizing :border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}


* { margin:0; padding:0; }



	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; 
		text-decoration:none;}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }

	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}
img {
    display: inline-block;
    vertical-align: middle;
}

img {
    height: auto;
    max-width: 100%;
}

*::-moz-selection {
    background: #292c31;
    color: #ffffff;
}

a:focus {
outline: 0;
}

iframe{width:100%;frameborder:0;display:inline-block;}